body {
    background-color: rgb(25, 48, 86);
    color: white;
}

.list {
    background-color: lightgray;
    color: rgb(33,33,33);
    box-shadow: 3px 3px 1px rgba(33, 33, 33, 0.5);

}

.cards-enter {
    opacity: 0.01;
}

.cards-enter.cards-enter-active {
    opacity: 1;
    transition: all 500ms ease-in;
}
.logo:hover::first-letter {
    transform: rotate(7deg);
    transition: all ease-in-out;
}